*,
*::before,
*::after {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 60vw;
  margin: 64px auto;
}

.centered {
  text-align: center;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 32px;
}

h2 {
  margin: 32px 0 12px;
}

p {
  margin-bottom: 8px;
}

img {
  height: auto;
  width: 20vw;
  margin-bottom: 24px;
}

li {
  margin-bottom: 4px;
  list-style-position: inside;
}
